<%= form_for @job do |f| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @job.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'URL' %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label 'Description' %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label 'Image URL' %>
    <%= f.text_field :img_url %>
  </p>

  <p>
    <%= f.label 'Short Description' %>
    <%= f.text_field :short_description %>
  </p>

  <p>
    <%= f.label 'Description' %>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label 'Additional Notes' %>
    <%= f.text_area :additional_notes %>
  </p>

  <p>
    <%= f.label 'Time Period' %>
    <%= f.text_field :time_period %>
  </p>

  <%= f.submit "Submit", class: "btn btn-secondary"  %>

<% end %>
