<nav class='navbar navbar-expand-sm navbar-dark sticky-top'>

  <div>
    <%= link_to "Jim's Portfolio", root_path, class: 'navbar-brand mb-0 h1' %>
  </div>

  <button type="button" class="btn-sm navbar-toggler navbar-toggler-right"
          data-toggle="collapse" data-target="#myNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class='collapse navbar-collapse' id='myNavbar'>
    <ul class='navbar-nav ml-auto text-nowrap'>
      <li class='nav-item nav-link <%= 'active' if current_page?(apps_path) %>'>
        <%= link_to 'Programmer', apps_path, class: 'nav-link' %>
      </li>
      <li class='nav-item nav-link <%= 'active' if current_page?(jobs_path) %>'>
        <%= link_to 'Grammar Pro', jobs_path, class: 'nav-link' %>
      </li>
      <% if session[:user_id] %>
      <li class='nav-item nav-link <%= 'active' if current_page?(apps_path) %>'>
        <%= link_to "New app", new_app_path, class: 'nav-link' %>
      </li>
      <li class='nav-item nav-link <%= 'active' if current_page?(apps_path) %>'>
        <%= link_to "New job", new_job_path, class: 'nav-link' %>
      </li>
      <li class='nav-item nav-link <%= 'active' if current_page?(apps_path) %>'>
        <%= link_to "Log out", logout_path, method: :delete, class: 'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>

</nav>
