<div class='container-fluid'>

  <div class='portrait intro'>
    <center>
      <%= image_tag("boys_porch.jpg", alt: "Jim and the boys.",
                                      size: '150x150',
                                      class: 'img-circle img-fluid') %>
      <h1 class='section-head'>Hey, I'm Jim.</h1>


      <div class='row'>
        <div class='col'>
          <p>So you're here because you want to know more about me.
          That's cool. Here's a bunch of stuff I did. </p>
        </div>
        <div class='col'>
          <li>
            icons for each project
          </li>
          <li>
            jumbotron or carosel
          </li>
          <li>
            stanley: https://justfreethemes.com/stanleywp-free-portfolio-wordpress-theme/
          </li>
        </div>
      </div>
    </center>
  </div>



  <div id='apps-block'>
    <p>If you want to see this as a more traditional resumé, I'm happy to send you
      <%= link_to 'an email', resumes_write_email_path %> automagically.</p><br />
    <h3>APPS AND WEBSITES mx-auto</h3><br />
    <div class='container-fluid'>
      <div class='row'>
        <% @apps.reverse.each do |app| %>
            <!-- TODO: CENTER BOXES ON PAGE DESPITE HOW MANY THERE ARE -->
                  <!-- SO ROW OF ONE ISN'T UNDER FIRST ITEM -->
                  <!-- HAVE BEEN USING .card-icon IN CSS -->
          <div class='col bottom-pad'>
            <div class='card mx-auto'>
              <%= image_tag(app.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>
              <div class='card-body'>
                <h5 class='card-title'><%= app.name %></h5>
                <p class='card-text'><%= app.short_description %></p>
                <%= link_to 'show', app_path(id: app.id), class: 'btn btn-outline-secondary' %>
              </div>
              <div class='card-footer text-muted'>
                <%= app.time_period %>
              </div>
              <% if session[:user_id] %>
                <%= link_to 'edit', edit_app_path(id: app.id) %><br />
                <%= link_to 'delete', app_path(id: app.id), method: :delete  %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div id='jobs-block'>
    <h3>WRITING AND EDITING</h3><br />
    <div class='container-fluid'>
      <div class='row'>
        <% @jobs.each do |job| %>
        <div class='col bottom-pad'>
          <div class='card'>
            <%= image_tag(job.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>
            <div class='card-body'>
              <h5 class='card-title'><%= job.name %></h5>
              <p class='card-text'><%= job.short_description %></p>
              <%= link_to 'show', job_path(id: job.id), class: 'btn btn-outline-secondary' %>
            </div>
            <div class='card-footer text-muted'>
              <%= job.time_period %>
            </div>
            <% if session[:user_id] %>
              <%= link_to 'edit', edit_job_path(id: job.id) %><br />
              <%= link_to 'delete', job_path(id: job.id), method: :delete  %>
            <% end %>

          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>

<div class='card-deck center'>
  <% @jobs.each do |job| %>
    <div class='card'>
      <%= image_tag(job.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>

    <div class='card-body'>
      <h5 class='card-title'><%= job.name %></h5>
      <p class='card-text'><%= job.short_description %></p>
      <%= link_to 'show', job_path(id: job.id), class: 'btn btn-outline-secondary' %>
    </div>
    <div class='card-footer text-muted'>
      <%= job.time_period %>
    </div>
    </div>
  <% end %>
</div>

<div class='container'>
  <div class='row'>




    <div class='card-deck mx-auto'>
      <% @apps.reverse.each do |app| %>
        <div class='card'>
          <%= image_tag(app.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>
          <div class='card-body'>
            <h5 class='card-title'><%= app.name %></h5>
            <p class='card-text'><%= app.short_description %></p>
            <%= link_to 'show', app_path(id: app.id), class: 'btn btn-outline-secondary' %>
          </div>
          <div class='card-footer text-muted'>
            <%= app.time_period %>
          </div>
        </div>
      <% end %>
    </div>





  </div>
</div>



<div class='container'>
  <div class='row'>

<h2>container row card deck .each card mx-auto</h2>
<div class='card-deck  mx-auto'>
  <% @apps.reverse.each do |app| %>
    <div class='card'>
      <%= image_tag(app.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>
      <div class='card-body'>
        <h5 class='card-title'><%= app.name %></h5>
        <p class='card-text'><%= app.short_description %></p>
        <%= link_to 'show', app_path(id: app.id), class: 'btn btn-outline-secondary' %>
      </div>
      <div class='card-footer text-muted'>
        <%= app.time_period %>
      </div>
    </div>
  <% end %>
</div>


</div>
</div>


<div class='container-fluid'>
  <h2>container row card deck .each card mx-auto</h2>
  <div class='card-deck  mx-auto'>
    <% @apps.reverse.each do |app| %>
      <div class='card'>
        <%= image_tag(app.img_url, alt: 'Jennifer Connelly, of course.', class: 'card-img-top') %>
        <div class='card-body'>
          <h5 class='card-title'><%= app.name %></h5>
          <p class='card-text'><%= app.short_description %></p>
          <%= link_to 'show', app_path(id: app.id), class: 'btn btn-outline-secondary' %>
        </div>
        <div class='card-footer text-muted'>
          <%= app.time_period %>
        </div>
      </div>
    <% end %>
  </div>

</div>
