<h1>Apps#new</h1>
<p>Find me in app/views/apps/new.html.erb</p>

<center>
  <%= form_for @app do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <p>
        <%= pluralize(@app.errors.count, "error") %> prohibited
        this article from being saved:
      </p>
      <% @app.errors.full_messages.each do |msg| %>
        <li><center><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label 'Name' %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label 'URL' %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label 'Description' %>
    <%= f.text_area :description %>
  </p>

  <%= f.submit "Submit", class: "btn btn-secondary"  %>

  <% end %>
</center>
