<div class='container'>
  <div class='row'>
    <div class='col'>




<div class='jumbotron parallax center' style="background-image: url(<%= @app.img_url %>); object-fit: cover; background-repeat: no-repeat">
  <h2 class='display4'><%= @app.name %></h2>
  <p class='lead'><%= @app.short_description %></p>
  <hr class='my-4' />
  <p><%= @app.description %></p>
</div>

</div>

</div>
</div>


    <div class='col' style="background-image: url(<%= @app.img_url %>);
                            object-fit: cover;
                            background-repeat: no-repeat;
                            background-position: center">
asdf
    </div>
