<style type='text/css'>
  .app-parallax {
    background-image: url(<%= @app.img_url %>);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: auto;
    background-attachment: fixed;
  }
</style>

<div class='jumbotron app-parallax white'>
  <h1 class='display4'><%= @app.name %></h1>
  <p class='lead'><%= @app.short_description %></p>
</div>

<div class='container-fluid intro'>
  <div class='row'>
    <% if session[:user_id] %>
      <div class='col little-padding-top center'>
        <%= link_to 'edit', edit_app_path(id: @app) %>
      </div>
      <div class='col little-padding-top center'>
        <%= link_to 'add tech', new_app_tech_path(@app) %>
      </div>
    <% end %>
  </div>
  <div class='row'>
    <div class='col portrait center'>
      <h4>Here's what you should know:</h4>
      <p><%= @app.description %></p>
      <h4>Technologies:</h4>
      <% @app.teches.each do |tech| %>
          <%= tech.name %><br />
      <% end %>
    </div>
  </div>
</div>
